.container {
  padding-top: 80px;
  .row {
    display: flex;
    width: 90%;
    margin: auto;
    .col {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .capa {
        position: absolute;
        top: 0;
        z-index: -1;
        right: 20px;
      }
      img {
        width: 300px;
      }
      h2 {
        font-family: Circular Std;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 80px;
        /* or 112% */
        margin: 0;
        color: #17141f;
        span {
          color: #5243c2;
        }
      }
      p {
        font-family: Circular Std;
        font-style: normal;
        font-weight: 450;
        font-size: 18px;
        line-height: 29px;
        /* or 161% */

        color: #17141f;
      }
    }
  }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    .row {
      .col {
        h2 {
          font-size: 30px;
          line-height: 50px;
        }
        p {
          font-size: 14px;
        }
        img {
          width: 250px;
        }
        .capa {
          right: -25px;
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .container {
    .row {
      .col {
        h2 {
          font-size: 30px;
          line-height: 50px;
        }
        p {
          font-size: 14px;
        }
        img {
          width: 250px;
        }
        .capa {
          right: -25px;
        }
      }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    .row {
      .col {
        justify-content: unset;
        h2 {
          font-size: 30px;
          line-height: 50px;
        }
        p {
          font-size: 14px;
        }
        img {
          width: 200px;
        }
        .capa {
          right: -25px;
        }
      }
    }
  }
}
