.container {
  width: 90%;
  margin: auto;
  // margin-top: 50px;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 70px;
    text-align: center;
    margin: 50px 0;
    span {
      color: #5243c2;
      text-decoration-line: underline;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card1 {
      .card_img {
        position: relative;
        width: 350px;
        img {
          cursor: pointer;
          &:hover {
            border: 1px solid transparent;
          }
        }
        .main_img {
          width: 100%;
        }
        .left_img {
          position: absolute;
          left: -50px;
          bottom: -10px;
          width: 200px;
        }
        .apple_pay {
          position: absolute;
          left: -40px;
          //   width: 100%;

          /* bottom: 200px; */
          top: 40px;
        }
      }
    }
    .card2 {
      .card_img {
        position: relative;
        width: 350px;
        .main_img {
          width: 100%;
        }
        .sqaure_img {
          position: absolute;
          top: -26px;
          left: 65px;
          width: 130px;
        }
        .monkey {
          position: absolute;
          top: 0px;
          width: 130px;
          right: 40px;
        }
        .fb {
          position: absolute;
          left: 37px;
          width: 130px;
          top: 70px;
        }
        .jetpack {
          position: absolute;
          left: 162px;
          top: 69px;
          width: 130px;
        }
        .aids {
          position: absolute;
          bottom: 0;
          left: 105px;
          width: 130px;
        }
      }
    }
    .card3 {
      img {
        cursor: pointer;
        &:hover {
          border: 1px solid transparent;
        }
      }
      .card_img {
        position: relative;
        width: 350px;
        .main_img {
          width: 100%;
        }
        .ft {
          position: absolute;
          top: -130px;
          width: 150px;
          right: 20px;
        }
        .finger {
          position: absolute;
          top: -23px;
          width: 150px;
          left: 35px;
        }
        .fd {
          position: absolute;
          right: -35px;
          bottom: 25px;
          width: 175px;
        }
      }
      .card_text {
        .content {
          h3 {
            margin-bottom: 35px;
          }
        }
      }
    }
    .card1,
    .card2,
    .card3 {
      //   box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
      // margin-top: 120px;
      border-radius: 20px;
      position: relative;
      height: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card_text {
      position: absolute;
      bottom: 25px;
      width: 350px;
      .content {
        margin: 0 40px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h3 {
          font-family: Circular Std;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 35px;
          margin: 0 0 0px 0;
          color: #5243c2;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          // margin-top: 42px;
          color: #17141f;
        }
        a {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 25px;
          /* identical to box height, or 139% */
          text-decoration: none;
          color: #299ef3;
        }
      }
    }
  }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    .cards {
      .card3 {
        .card_img {
          .ft {
            top: -90px;
          }
        }
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    .cards {
      .card3 {
        .card_img {
          .ft {
          }
        }
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    .cards {
      .card3 {
        .card_img {
          .ft {
          }
        }
      }
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    .cards {
      .card1,
      .card2,
      .card3 {
        // height: 440px !important;
        .card_img {
          width: 300px !important;
        }
        .left_img {
          width: 170px !important;
          left: -10px !important;
        }
        .card_text {
          width: unset !important;
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .container {
    .cards {
      .card1 {
        .card_img {
        }
      }
      .card3 {
        .card_img {
          .ft {
          }
        }
      }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    h2 {
      // font-size: 26px;
      // margin: 10px 0;
    }
    .cards {
      .card1,
      .card2,
      .card3 {
        height: 440px !important;
        .card_img {
          width: 350px;
        }
        .left_img {
          width: 170px !important;
          left: -10px !important;
        }
        .fd {
          right: -13px !important ;
        }
        .card_text {
          width: unset !important;
          h3 {
            font-size: 22px !important;
          }
          p {
            font-size: 12px !important;
          }
        }
      }
      .card3 {
        .card_text {
          margin-top: -20px;
          .content {
            h3 {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}
