.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  //   justify-content: center;
  height: 500px;
  background-color: #fff;
  h3 {
    text-align: center;
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 95px;
    /* identical to box height, or 142% */
    // margin: 0;

    color: #17141f;
    span {
      color: #5243c2;
      text-decoration: underline;
    }
  }
  .centered {
    display: flex;
    background: #b4a2f6;
    border-radius: 32px;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    justify-content: space-between;
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        font-family: Circular Std;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 48px;
        /* identical to box height */

        color: #ffffff;
      }
    }
    .right {
      transform: skewX(20deg);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-right: -30px;
      width: 400px;
      & > * {
        transform: skewX(-20deg);
      }
      background: #7854f7;
      border-radius: 32px;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          //   position: absolute;
          //   top: 0;
          width: 150px;
        }
      }
    }
  }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    .centered {
      width: 80%;
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    .centered {
      width: 80%;
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    .centered {
      width: 90%;
      ul {
        li {
          font-size: 16px;
          line-height: 35px;
        }
      }
    }
    h3 {
      font-size: 30px;
    }
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .container {
    .centered {
      width: 90%;
      ul {
        li {
          font-size: 14px;
          line-height: 30px;
        }
      }
      .right {
        width: 300px;
        div {
          img {
            width: 125px;
          }
        }
      }
    }
    h3 {
      font-size: 30px;
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    .centered {
      width: 90%;
      height: 140px;
      ul {
        li {
          font-size: 14px;
          line-height: 30px;
        }
      }
      .right {
        display: none;
        width: 300px;
        div {
          img {
            width: 125px;
          }
        }
      }
    }
    h3 {
      font-size: 30px;
    }
  }
}
