.container {
    display: flex;
    // flex-wrap: wrap;
    .paymentdetails {
        // flex: 1;
        width: 50%;
    }
    .summary {
        // flex: 1;
        width: 50%;
        background: #e5e5e5;
        // opacity: 0.1 ;
        // height: 200vh;
        // width: 100%;
    }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
        .paymentdetails {
            width: 100%;
        }
        .summary {
            width: 100%;
        }
    }
}
@media (min-width: 481px) and (max-width: 599px) {
    .container {
        flex-direction: column-reverse;
        .paymentdetails {
            width: 100%;
        }
        .summary {
            width: 100%;
        }
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        flex-direction: column-reverse;
        .paymentdetails {
            width: 100%;
        }
        .summary {
            width: 100%;
        }
    }
}
