.container {
    width: 85%;
    margin: auto;
    // margin-top: 50px;
    // overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: Circular Std;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 70px;
        text-align: center;
        margin: 50px 0;
        span {
            color: #5243c2;
            text-decoration-line: underline;
        }
    }
    .title {
        // width: 80%;
        h4 {
            font-family: Circular Std;
            font-style: normal;
            font-weight: 900;
            font-size: 34px;
            line-height: 51px;
            text-align: left;
            /* identical to box height */
            margin: 0;
            color: #231d4f;
        }
        p {
            font-family: Circular Std;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            margin: 0;
            color: #443d5c;
        }
    }
    table {
        margin: 50px 0;
        // width: 100%;
        text-align: left;
        border-collapse: collapse;
        // overflow-x: auto;
        thead {
            tr {
                td {
                    padding: 0 20px;
                    &:first-of-type {
                        // display: inline;n
                    }
                    .card {
                        border: 1px solid rgba(82, 67, 194, 0.230196);
                        border-radius: 26px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 50px 20px 20px 20px;
                        transition-duration: 0.3s;
                        &:hover {
                            @extend .active;
                        }
                        h3 {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 26px;
                            /* identical to box height */
                            margin: 0;
                            text-align: center;
                            letter-spacing: -0.333333px;

                            color: #000000;
                        }
                        h1 {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 45px;
                            // line-height: 78px;
                            text-align: center;
                            letter-spacing: -1px;
                            margin: 0px;
                            color: #000000;
                        }
                        span {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: 1px;

                            color: #b5aebb;
                        }
                        p {
                            font-family: Circular Std;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: -0.233333px;
                            margin: 30px 0;

                            color: rgba(23, 20, 31, 0.75);
                        }
                        button {
                            background: #f9f2ff;
                            border-radius: 26px;
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: -0.233333px;
                            border: none;
                            outline: none;
                            padding: 20px 50px;
                            color: #4e2d92;
                            cursor: pointer;
                            // &:hover {
                            //     background-color: #4e2d92;
                            //     color: white;
                            // }
                        }
                    }
                    .active {
                        background: #4e2d92;
                        box-shadow: 0px 18px 50px 2px rgba(120, 84, 247, 0.35);
                        border: 1px solid rgba(82, 67, 194, 0.230196);
                        border-radius: 26px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 50px 20px 20px 20px;
                        h3 {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 26px;
                            /* identical to box height */
                            margin: 0;
                            text-align: center;
                            letter-spacing: -0.333333px;

                            color: white;
                        }
                        h1 {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 45px;
                            // line-height: 78px;
                            text-align: center;
                            letter-spacing: -1px;
                            margin: 0px;
                            color: white;
                        }
                        span {
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: 1px;

                            color: #b5aebb;
                        }
                        p {
                            font-family: Circular Std;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: -0.233333px;
                            margin: 30px 0;

                            color: white;
                        }
                        button {
                            cursor: pointer;
                            background: white;
                            border-radius: 26px;
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                            letter-spacing: -0.233333px;
                            border: none;
                            outline: none;
                            padding: 20px 50px;
                            color: #4e2d92;
                        }
                    }
                    // .card,
                    // .active {
                    //   display: none;
                    // }
                }
            }
        }
        tbody {
            &::before {
                content: "@";
                display: block;
                line-height: 50px;
                text-indent: -99999px;
            }
            tr {
                &:nth-child(odd) {
                    background: #f9f2ff;
                }
                // margin-top: 20px;
                td {
                    height: 80px;
                    &:first-of-type {
                        border-radius: 26px 0 0 26px;
                        text-align: left;
                        padding-left: 50px;
                    }
                    &:last-of-type {
                        border-radius: 0 26px 26px 0;
                    }
                    text-align: center;
                    padding: 10px;
                    font-family: DM Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 20px;
                    /* identical to box height */

                    letter-spacing: -0.25px;

                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
    .container {
        width: 95%;
        table {
            thead {
                tr {
                    td {
                        &:first-of-type {
                            display: none;
                        }
                        &:nth-of-type(2) {
                            border-radius: 26px 0 0 26px;
                            text-align: left;
                            padding-left: 50px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        &:first-of-type {
                            display: none;
                        }
                        &:nth-of-type(2) {
                            border-radius: 26px 0 0 26px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 599px) {
    .container {
        width: 95%;
        table {
            thead {
                tr {
                    td {
                        padding: 5px;
                        .active,
                        .card {
                            h1 {
                                font-size: 30px;
                            }
                            h3 {
                                font-size: 16px;
                            }
                            p {
                                font-size: 12px;
                            }
                            button {
                                padding: 15px 40px;
                            }
                        }
                        &:first-of-type {
                            display: none;
                        }
                        &:nth-of-type(2) {
                            border-radius: 26px 0 0 26px;
                            text-align: left;
                            padding-left: 50px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        &:first-of-type {
                            display: none;
                        }
                        &:nth-of-type(2) {
                            border-radius: 26px 0 0 26px;
                        }
                    }
                }
            }
        }
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 90%;
        table {
            width: 100%;
            overflow-x: auto;
            display: flex;
            thead {
                tr {
                    td {
                        // margin-bottom: 50px;
                        // display: flex;
                        // flex-direction: column;
                    }
                }
            }
            tbody {
                display: none;
            }
        }
    }
}
