.outside {
  // margin-top: 100px;
  // margin-bottom: 100px;
  // display: flex;

  h2 {
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 70px;
    text-align: center;
    margin: 50px 0;
    span {
      color: #5243c2;
      // text-decoration-line: underline;
      border-bottom: 3px solid #5243c2;
    }
  }
}
.container {
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
  height: 900px;
  //   position: relative;
  // padding-top: 50px;
  // width: 5 0%;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .inside {
    // top: 0;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    position: relative;
    h3 {
      font-size: 32px;
      // line-height: 70px;
    }
    .imgbox {
      position: absolute;
      z-index: 199;
      background-color: black;
      //   height: 150px;
      top: 30px;
      left: 340px;
      .img {
        position: absolute;
        z-index: 1;
        width: 85px;
      }
      .img_shadow {
        position: absolute;
        width: 80px;
        top: 30px;
        z-index: -1;
      }
    }
    .imgbox1 {
      position: absolute;
      z-index: 199;
      background-color: black;

      top: 15px;
      right: 380px;
      .img {
        position: absolute;
        z-index: 1;
        width: 100px;
      }
      .img_shadow {
        position: absolute;
        width: 100px;
        top: 10px;
        z-index: -1;
      }
    }
    .imgbox2 {
      position: absolute;
      z-index: 199;
      background-color: black;

      top: 200px;
      right: 260px;
      .img {
        position: absolute;
        z-index: 1;
        width: 135px;
      }
      .img_shadow {
        position: absolute;
        width: 125px;
        top: 10px;
        z-index: -1;
      }
    }
    .imgbox3 {
      position: absolute;
      z-index: 199;
      background-color: black;

      bottom: -100px;
      right: 300px;
      .img {
        position: absolute;
        z-index: 1;
        width: 75px;
      }
      .img_shadow {
        position: absolute;
        width: 75px;
        top: 18px;
        z-index: -1;
      }
    }
    .imgbox4 {
      position: absolute;
      z-index: 199;
      background-color: black;
      top: 160px;
      left: 80px;
      .img {
        position: absolute;
        z-index: 1;
        width: 75px;
      }
      .img_shadow {
        position: absolute;
        width: 75px;
        top: 18px;
        z-index: -1;
      }
    }
    .imgbox5 {
      position: absolute;
      z-index: 199;
      background-color: black;
      bottom: -20px;
      left: 129px;
      .img {
        position: absolute;
        z-index: 1;
        width: 75px;
      }
      .img_shadow {
        position: absolute;
        width: 75px;
        top: 18px;
        z-index: -1;
      }
    }
    .imgbox6 {
      position: absolute;
      z-index: 199;
      bottom: -150px;
      display: flex;
      right: 450px;
      grid-gap: 20px;

      .leftimg {
        width: 20px;
      }
      .rightimg {
        width: 35px;
      }
    }
    h3 {
      font-family: Circular Std;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      width: 350px;
      margin: 0;
      /* or 127% */

      text-align: center;

      color: #17141f;
    }
    .centered {
      background: #ffffff;
      /* Box-shadow */
      width: 38%;
      // margin: auto;
      // height: 350px;
      box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 30px 50px;
      position: relative;
      .centered1 {
        background: #ffffff;
        /* Box-shadow */
        width: 100%;
        height: 100%;
        box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
        border-radius: 20px;
        position: absolute;
        z-index: -1;
      }
      .centered2 {
        background: #ffffff;
        box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);

        border-radius: 20px;
        position: absolute;
        z-index: -2;
        bottom: -50px;
        width: 100%;
        height: 100%;
      }
      .quotes {
        width: 130px;
      }
      .leftdots {
        position: absolute;
        width: 300px;
        bottom: -100px;
        left: -95px;
        z-index: -11;
      }
      .rightdots {
        position: absolute;
        width: 300px;
        right: -99px;
        z-index: -1;
      }
      p {
        margin-top: -30px;
        font-family: Circular Std;
        font-style: normal;
        font-weight: 451;
        font-size: 19.7px;
        line-height: 29px;
        text-align: center;
        color: #94a2b3;
      }
    }
  }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    .inside {
      .centered {
        width: 50%;
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    .inside {
      .centered {
        width: 50%;
      }
      .imgbox {
        left: 125px;
      }
      .imgbox2 {
        top: unset;
        right: 135px;
        bottom: 185px;
      }
      .imgbox1 {
        right: 115px;
      }
      .imgbox3 {
        right: 125px;
      }
      .imgbox5 {
        left: 20px;
      }
      .imgbox4 {
        top: 240px;
        left: 12px;
      }
      .imgbox6 {
        right: 210px;
        bottom: -125px;
      }
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    .inside {
      .centered {
        width: 50%;
      }
      .imgbox {
        left: 125px;
      }
      .imgbox2 {
        top: unset;
        right: 135px;
        bottom: 185px;
      }
      .imgbox1 {
        right: 115px;
      }
      .imgbox3 {
        right: 125px;
      }
      .imgbox5 {
        left: 20px;
      }
      .imgbox4 {
        top: 240px;
        left: 12px;
      }
      .imgbox6 {
        right: 210px;
        bottom: -125px;
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .container {
    .inside {
      .centered {
        width: 60%;
      }
      .imgbox {
        left: 25px;
        top: 35px;
      }
      .imgbox2 {
        top: unset;
        right: 105px;
        bottom: 135px;
        .img,
        .img_shadow {
          width: 100px;
        }
      }
      .imgbox1 {
        right: 115px;
      }
      .imgbox3 {
        right: 125px;
      }
      .imgbox4 {
        top: 374px;
        left: 10px;
      }
      .imgbox5 {
        left: 20px;
        bottom: -120px;
      }
      .imgbox6 {
        right: 150px;
        bottom: -130px;
      }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    .inside {
      .centered {
        padding: 30px 10px;
        width: 60%;
        // width: 70%;
        .rightdots {
          width: 250px;
          right: -70px;
        }
      }
      .imgbox {
        left: 0px;
        top: 175px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox2 {
        top: unset;
        right: 60px;
        bottom: 215px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox1 {
        right: 80px;
        top: 65px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox3 {
        right: 125px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox4 {
        top: 374px;
        left: 10px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox5 {
        left: 20px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
      .imgbox6 {
        right: 150px;
        bottom: -130px;
        .img,
        .img_shadow {
          width: 60px;
        }
      }
    }
  }
}
